#login {
    margin: 8% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95vw;
    font-size: small;
    line-height: 2.5rem;
}
#imgLogin  {
    width: 80px;
    height: 80px;
}
a{
    color: #2cb67d;
}
.linkLogin{
    text-decoration: none;
    color: white;
}
button,input{
    border: none;
    border-radius: 6px;
    width: 69%;
    height: 2.5rem;
    font: 600 0.875rem/1rem Nunito;
}
input{
    padding: 0 1rem;
}
button{
    display: flex;
    height: fit-content;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background-color: #ef4565;
    width: fit-content;
    padding: .8rem 2.5rem;
    color: #fffffe;
    margin-top: 2rem;
}
.btnLogOut{
    margin-top: 7%;
    width: fit-content;
    height: 3rem;
}
