#login {
    margin: 8% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95vw;
    font-size: small;
    line-height: 2.5rem;
}

#imgLogin {
    width: 80px;
    height: 80px;
}

a {
    color: var(--green);
}

.linkLogin {
    text-decoration: none;
    color: white;
}

button,
input {
    border: none;
    border-radius: 6px;
    width: 69%;
    height: 2.5rem;
    font: 600 0.875rem/1rem Nunito;
}

input {
    padding: 0 1rem;
    border-radius: 8px 0 0 8px;
}

button {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background-color: var(--red);
    width: fit-content;
    color: var(--white);
    margin-top: 2rem;
    cursor: pointer;
    padding: 0 1rem;
}

.usernameForm {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.confirmUsernameBtn {
    margin: 0;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 0 8px 8px 0;
    background-color: var(--purple);
}

.btnLogOut {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 0;
}